*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*  main*/
.main{
    flex-grow:1;
 
}
/* ================ 
    footer
===================
*/
 footer{
    color:white;
    width:100%;
    
 } 
/* footer main */
.footer-main{
    background-color: #555555;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-main > div{
    padding: 1.2rem;
}

.footer-main div p{
    line-height: 6px;
}

/* form */

form input{
    height: 40px;
    margin-right:0; 
    border-width: 0;
    padding-left: 30px;

}
form button{
    height: 40px;
    width: 100px;
    margin-left: -5px;
    background-color: aqua;
    color: white;
    border-width: 0;
}

/* social icons */
hr{
    margin: 0;
    color: grey;
}
.social-icons{
    background-color: #555555;
    text-align: center;
    padding: 20px;
}
.social-icons img{
   
    margin: 5px;
    background-color: white;
    
}


/* footer-end */
.footer-end{
    background-color: #333333;
    display: flex;
    flex-wrap:wrap;
}
.footer-end p{
    padding:10px;
}
.footer-end p:nth-child(2){
    flex-grow: 1;
    /* background-color: aqua; */
}
.footer-end p:nth-child(3){
    padding-right: 20px;
}

